/* stylelint-disable max-line-length */

/* MongoDB brand fonts */

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/EuclidCircularA-Regular-WebXL.woff2') format('woff2');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/EuclidCircularA-Medium-WebXL.woff2') format('woff2');
}

@font-face {
  font-family: 'MongoDB Value Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MongoDBValueSerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MongoDB Value Serif';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/MongoDBValueSerif-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'MongoDB Value Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/MongoDBValueSerif-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/SourceCodePro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Akzidenz-Grotesk Std';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/akzidenzgroteskbq_light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Akzidenz-Grotesk Std';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/akzidenzgroteskbq_medium-webfont.woff2') format('woff2');
}
